.admin-mensagens-container {
    padding: 20px;
  }
  
  .mensagem-input {
    width:96%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .enviar-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    width:100%;
    cursor: pointer;
  }
  
  .enviar-button:hover {
    background-color: #235325;
  }
  