.dashboard-container-aluno {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .dashboard-item-aluno1 {
    background-color: #ee9f3e;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 300px;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .dashboard-item-aluno{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 300px;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .dashboard-item h2 {
    margin-bottom: 50px;
  }
  
  .dashboard-item button {
    background-color: #72bb53;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .full-width-div {
    background-color: #eaeaea;
    border-radius: 10px;
    width: 100%;
    height: 45%;
    padding: 20px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .dashboard-item-des {
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    width: 29%; /* Largura de cada item */
    height: 55%;
    margin-bottom: 0px;
  }