.disciplinas-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}
  
.disciplina-card {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  flex: 20%;
}
  
.disciplina-card h3 {
   margin-bottom: 10px;
}
  
.disciplina-card button {
   background-color: #72bb53;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
   width: 100%;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pergunta-ativa {
  padding: 50px;
  width: 90%; /* Ajuste a largura conforme necessário */
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.pergunta-ativa button{
  background-color: #4CAF50;
  color: white; /* Cor do texto */
  border: none; /* Borda */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 15px 30px; /* Espaçamento interno */
  width: 60%; /* Largura */
  margin: 10px auto; /* Margem */
  cursor: pointer; /* Cursor de ponteiro */
  font-size: 1.2em; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
  transition: all 0.3s ease; /* Transição suave para todas as propriedades */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra */
  display: block; /* Exibição em bloco */
}

.pergunta-ativa button.active {
  background-color: #13948d;
}

.resultado-quiz {
  background-color: #f9f9f9;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px; 
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.resultado-quiz p {
  font-size: 1.2em; 
  margin: 10px 0; 
}

.resultado-quiz button {
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Sem borda */
  border-radius: 5px; /* Canto arredondado */
  padding: 12px 20px; /* Espaçamento interno */
  cursor: pointer; /* Cursor de ponteiro */
  font-size: 1em; /* Tamanho da fonte */
  transition: background-color 0.3s; /* Transição suave para mudança de cor */
}
