.containerAluno {
    width: calc(100% - 240px);
    min-width: 300px; 
    height: 72vh; 
    margin: 130px 20px 10px 260px; 
    padding: 20px;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    z-index: 1; 
}

@media (max-width: 768px) {
    .containerAluno {
        width: 90%; /* Aumenta a largura para telas menores */
        margin: 80px 5% 10px 5%; /* Ajuste de margem para centralizar e evitar sobreposição */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .containerAluno {
        width: 90%; /* Ajuste fino para tablets */
        margin: 100px 5% 10px 5%; /* Margem ajustada para espaço adicional */
    }
}
